@{
    ViewBag.Title = "Elérhetőség";
}
<h2>@ViewBag.Title:</h2>
<h3>Vince Dániel</h3>
<address>
    vinced kukac inf pont u-szeged pont hu<br />
    Mérnökinformatikus BSc<br/>
    Szegedi Tudományegyetem<br/>
    Szeged<br/>
</address>
