@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    
    <h1>Human Mobility</h1>
    <p class="lead">
        The actigraph...
    </p>
</div>

<div class="row">
    @Html.Partial("BugReport")
</div>
