
@{
    ViewBag.Title = "Terms";
}

<h2>Terms and Privacy</h2>
<h4>Felhasználási feltételek és tályékoztatás</h4>
<div class="col-md-12">
    <p style="text-align: justify;">
        <span style="font-size: 13pt;">
            Az alkalmaz&aacute;s haszn&aacute;lat&aacute;val elfogadod, hogy adatokat gyűjt&uuml;nk a telefonod 
            seg&iacute;ts&eacute;g&eacute;vel. A GPS koordin&aacute;t&aacute;k mellett a telefonba &eacute;p&iacute;tett
            gyorsul&aacute;s&eacute;rz&eacute;kelő feldolgozott jeleit felhaszn&aacute;lva statisztikai elemz&eacute;st v&eacute;gz&uuml;nk.
        </span>
        <br/>
        <br/>
        <span style="font-size: 13pt;">
            A m&eacute;r&eacute;sben val&oacute; r&eacute;szv&eacute;tel teljesen anonim, &eacute;s az adatokhoz csak Vadai Gergely &eacute;s 
            &eacute;n (Vince D&aacute;niel) f&eacute;rhet&uuml;nk hozz&aacute;. Feldolgoz&aacute;s sor&aacute;n mi sem l&aacute;tjuk az adott 
            adatsort szolg&aacute;ltat&oacute; felhaszn&aacute;l&oacute; nev&eacute;t.<br/>
        </span>
    </p>
    <p style="text-align: justify;">
        <span style="font-size: 13pt;">
            A kutat&aacute;s a Szegedi Tudom&aacute;nyegyetem Műszaki Informatika tansz&eacute;k &aacute;ltal ki&iacute;rt szakdolgozat keretein bel&uuml;l zajlik.
        </span>
    </p>
</div>
